<% title "Team" %>

<p>
  <strong>Name:</strong>
  <%=h @team.name %>
</p>

<p>
  <%= link_to "Edit", edit_club_team_path(@club, @team) %> |
  <%= link_to "Destroy", club_team_path(@club, @team), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", club_teams_path(@club) %>
</p>

